
  
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "n1 n1 n1 n1 n1"
      "n2 n2 n2 n2 n2"
      "n3 n3 n3 n3 n3"
      "b4 row2 row3 row4 row5"
      "b5 b5 b5 b5 b5"
      "b6 b6 b6 b6 b6"
      "b7 b7 b7 b7 b7"
      "b8 b8 b8 b8 b8"
      "b9 b9 b9 b9 b9"
      "b10 b10 b10 b10 b10"
      "b11 b11 b11 b11 b11"
      "b12 b12 b12 b12 b12"
      "b13 b13 b13 b13 b13"
      "b14 b14 b14 b14 b14"
      "b15 b15 b15 b15 b15"
      "b16 b16 b16 b16 b16"
      "b17 b17 b17 b17 b17"
      "b18 b18 b18 b18 b18"
      "b19 b19 b19 b19 b19"
      "b20 b20 b20 b20 b20"
      
      "f21 f21 f21 f21 f21"
      "f22 f22 f22 f22 f22"
      "f23 f23 f23 f23 f23"
      ;
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }

  #row2 {
    background: #babd12;
    grid-area: row2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #row3 {
    background: #babd12;
    grid-area: row3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #row4 {
    background: #babd12;
    grid-area: row4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #row5 {
    background: #babd12;
    grid-area: row5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  #n1 {
    background: #73ffba;
    grid-area: n1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #n2 {
    background: #73ffba;
    grid-area: n2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #n3 {
    background: #73ffba;
    grid-area: n3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b4 {
    background: #73ffba;
    grid-area: b4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b5 {
    background: #73ffba;
    grid-area: b5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b6 {
    background: #73ffba;
    grid-area: b6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b7 {
    background: #73ffba;
    grid-area: b7;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b8 {
    background: #73ffba;
    grid-area: b8;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b9 {
    background: #73ffba;
    grid-area: b9;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b10 {
    background: #73ffba;
    grid-area: b10;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b11 {
    background: #73ffba;
    grid-area: b11;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b12 {
    background: #73ffba;
    grid-area: b12;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b13 {
    background: #73ffba;
    grid-area: b13;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b14 {
    background: #73ffba;
    grid-area: b14;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b15 {
    background: #73ffba;
    grid-area: b15;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b16 {
    background: #73ffba;
    grid-area: b16;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b17 {
    background: #73ffba;
    grid-area: b17;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b18 {
    background: #73ffba;
    grid-area: b18;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b19 {
    background: #73ffba;
    grid-area: b19;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #b20{
    background: #73ffba;
    grid-area: b20;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #f21{
    background: #73ffba;
    grid-area: f21;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #f22{
    background: #73ffba;
    grid-area: f22;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #f23{
    background: #73ffba;
    grid-area: f23;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  