<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
/>
<html>
  <div *ngFor="let meal of meals" class="container">
    
    <div id="bannerAndImageContainer">
      <div id="heroBanner">
        <h1>Healthy<br />Delicious<br />Recipes</h1>
      </div>
      <div id="imageHolder">
      
          <img
            id="mealImage"
            src="{{ meal.strMealThumb }}"
            alt="{{ meal.strMeal }}"
          />
        
      </div>
    </div>

    <div id="buttonContainer">
      <button (click)="getRandomMeal()" class="buttons" id="newMealButton">
        New Meal
      </button>
      <button class="buttons" id="watchButton">
        <i class="fas fa-play" id="iconButton" style="color: #ff8523"></i>
        <a href="{{ meal.strYoutube }}">Watch Video</a>
      </button>
    </div>

    <h2 id="mealNameText">{{ meal.strMeal }}</h2>
    <ul id="tagsList">
      <li>{{ meal.strCategory }}</li>
      <li>{{ meal.strArea }}</li>
    </ul>
    <h4 id="instructionsLabel">Instructions</h4>
    <p id="instructions">{{ meal.strInstructions }}</p>

    <a id="visitSourceLink" href="{{ meal.strSource }}">Visit Source</a>
  </div>
  <footer>
    <p id="footerNote">Powered by Meal DB <br />All rights reserved</p>
  </footer>
</html>
