<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<div *ngFor="let meal of meals" class="container">
  <nav><h2 id="randomMealText">Random Meal</h2></nav>
  <div id="right"></div>
  <div id="left"></div>
  <div id="navRight"></div>
  <div id="navLeft"></div>
  <div id="topSpace"></div>
  <div id="titleText">
    <h2 id="mainText">Generate a meal for your next recipe</h2>
  </div>
  <div id="imageHolder">
    <img
      id="mealImage"
      src="{{ meal.strMealThumb }}"
      alt="{{ meal.strMeal }}"
    />
  </div>
  <div id="buttons">
    <button (click)="getRandomMeal()" id="newMealButton" class="buttonGeneral">
      New Meal
    </button>
    <button id="watchButton" class="buttonGeneral">
      <a href="{{ meal.strYoutube }}">Watch Video</a>
    </button>
  </div>
  <div id="mealName">
    <h2 id="mealNameText">{{ meal.strMeal }}</h2>
  </div>
  <div id="tags">
    <ul id="bulletList">
      <li >{{ meal.strCategory }}</li>
      <li >{{ meal.strArea }}</li>
    </ul> 
  </div>
  <div id="insTitle"><h3 id="instructionTitleText">Instructions</h3></div>
  <div id="insText">
    <p id="instructionParagraphText">{{ meal.strInstructions }}</p>
  </div>
  <div id="visitSource">
      <a href="{{ meal.strSource }}">Visit Source</a>
  </div>
  <footer>
    <h3 id="footerText" class="foot">Powered by: The Meal DB.</h3>
    <h3 id="footerText" class="foot">All rights reserved 2023</h3>
  </footer>
</div>
