@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
  font-family: 'Rubik', sans-serif;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.4fr 0.8fr 0.2fr 0.7fr 0.4fr;
  grid-template-rows: 1fr 5fr 1.5fr 2fr 1fr 
                      1.2fr 6fr 1fr 3fr;                     
  grid-template-areas:
    "nav nav nav nav nav"
    "left titleText titleText imageHolder right"
    "left buttons buttons imageHolder right"
    "left mealName mealName imageHolder right"
    "left tags tags imageHolder right"
    "left insTitle insTitle insTitle right"
    "left insText insText insText right"
    "left visitSourceButton visitSourceButton visitSourceButton right"
    "left footer footer footer right"
    ;
  grid-gap: 0.2rem;
  font-weight: 800;
  font-size: 12px;
  color: #1b1e1c;
  text-align: left;
  font-family: 'Rubik', sans-serif;

}

.buttonGeneral{
  background-color: #a4a4a4; /* Green */
  height: 2rem;
  width: 8rem;
  border-radius: 50px;
}
#mealNameText{
  font-size: 1.6rem;
}
#mealImage {
  width: 100%;
  height: 100%;
}
#randomMealText{
  font-size: 1.6rem;
  color:white;
}
#mainText{
  font-size: 3rem;
  color:rgb(59, 59, 59);
  font-weight:bold;
}
footer {
  background: #ffffff;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#visitSourceButton {
  background: #ffffff;
  grid-area: visitSourceButton;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#insText {
  background: #ffffff;
  grid-area: insText;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#insTitle {
  background: #ffffff;
  grid-area: insTitle;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#tags {
  background: #ffffff;
  grid-area: tags;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#mealName {
  background: #ffffff;
  grid-area: mealName;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#buttons {
  background: #ffffff;
  grid-area: buttons;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#imageHolder {
  background: #ffffff;
  grid-area: imageHolder;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#titleText {
  background: #ffffff;
  grid-area: titleText;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#left {
  background: #ffffff;
  grid-area: left;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#right {
  background: #ffffff;
  grid-area: right;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
nav {
  background: #EB8526;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-family: 'Righteous', cursive;
}

